openapi: 3.2.0
info:
  title: Cruz Foam Metadata SEO API
  version: wp/v2
  description: Public Yoast SEO head endpoint for cruzfoam.com, returning the rendered <head> metadata and its parsed JSON-LD schema.org graph for any URL on the site — a structured-data view of every page without scraping the HTML.
  contact:
    name: Cruz Foam
    url: https://cruzfoam.com/contact/
  x-derived-from: https://cruzfoam.com/wp-json/ route index + per-route HTTP OPTIONS schema documents
  x-derived-on: '2026-08-11'
  x-api-evangelist-note: Third-party profile. Cruz Foam publishes no developer program; this documents the anonymously readable WordPress REST content API behind cruzfoam.com. Every path, parameter and schema here was read from the server's own published OPTIONS documents on 2026-08-11 — nothing is invented.
servers:
- url: https://cruzfoam.com/wp-json
  description: Cruz Foam WordPress REST API
tags:
- name: SEO
  description: Rendered head metadata and JSON-LD graph.
paths:
  /yoast/v1/get_head:
    get:
      operationId: getSeoHead
      summary: Retrieve rendered SEO head metadata for a URL
      description: Return the Yoast-rendered head HTML and the parsed JSON-LD schema graph for a cruzfoam.com URL.
      tags:
      - SEO
      parameters:
      - name: url
        in: query
        required: true
        description: The cruzfoam.com URL to render head metadata for.
        schema:
          type: string
          format: uri
      responses:
        '200':
          description: Rendered head metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SeoHead'
        '404':
          description: No such resource or no matching route — rest_no_route / rest_*_invalid_id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      description: The WordPress REST API error envelope returned on every 4xx/5xx.
      properties:
        code:
          type: string
          description: Machine-readable error code, e.g. rest_post_invalid_id.
        message:
          type: string
          description: Human-readable error message.
        data:
          type: object
          properties:
            status:
              type: integer
              description: The HTTP status code.
            params:
              type: object
              description: Per-parameter validation messages (rest_invalid_param only).
      required:
      - code
      - message
    SeoHead:
      type: object
      description: Yoast SEO head payload.
      properties:
        json:
          type: object
          description: Parsed head metadata including the schema.org @graph.
        html:
          type: string
          description: The rendered <head> HTML fragment.
        status:
          type: integer
